* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

/* common start*/
.text-mute {
    color: rgb(120, 119, 119);
}

.tex-bold {
    font-weight: 700;
}

.m-bottom {
    margin-bottom: 50px;
}

.wid {
    width: 50%;
}

.s-wid {
    padding: 0px 100px;
}

.f-size {
    font-size: 20px;
}

/* common end */

.top-section {
    display: flex;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;

}

.left h1 {
    font-size: 60px;
    text-transform: capitalize;

}

.left p {
    font-weight: 500;
}

.right img {
    width: 600px;
    height: 500px;
}

.order-btn {
    text-decoration: none;
    color: #fff;
    background: linear-gradient(to right, rgb(39, 193, 244), blue);
    padding: 20px 40px;
    border-radius: 40px;
    font-size: 20px;
    transition: 0.3s;
}

.order-btn:hover {
    box-shadow: 0px 0px 30px rgb(111, 111, 252);
}

/* about section start */

.about-left img {
    width: 70%;
    margin-left: 50px;
}

.contact {
    font-size: 40px;
    text-transform: capitalize;
}

.about-right p {
    margin-right: 50px;
}

.back-img {
    background: url("./images/7.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 90vh;
}

/* about section end */

/* recipie start */
.recipi-section .wid {
    text-align: center;
    margin: 0 auto;
}


.card {
    margin: 0px 50px;
    background-color: #fff;
    transition: 0.3s;
    height: 580px;
    padding-left: 2%;
    border-radius: 20px;
}

.card:hover {
    box-shadow: 0px 0px 20px gray;
}

.card img {
    height: 350px;
    width: 600px;
    border-radius: 20px;
    margin-top: 4%;
}

.detail h1 {
    padding: 10px 0px;
}