* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

/* common start*/
.text-mute {
    color: rgb(120, 119, 119);
}

.tex-bold {
    font-weight: 700;
}

.m-bottom {
    margin-bottom: 50px;
}

.wid {
    width: 50%;
}

.s-wid {
    padding: 0px 100px;
}

.f-size {
    font-size: 20px;
}

/* common end */

.top-section {
    display: flex;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;

}

.left h1 {
    font-size: 60px;
    text-transform: capitalize;
}

.left p {
    font-weight: 500;
}

.right img {
    width: 600px;
    height: 500px;
}

.order-btn {
    text-decoration: none;
    color: #fff;
    background: linear-gradient(to right, rgb(39, 193, 244), blue);
    padding: 20px 40px;
    border-radius: 40px;
    font-size: 20px;
    transition: 0.3s;
}

.order-btn:hover {
    box-shadow: 0px 0px 30px rgb(111, 111, 252);
}

/* about section start */

.about-left img {
    width: 70%;
    margin-left: 50px;
}

.contact {
    font-size: 40px;
    text-transform: capitalize;
}

.about-right p {
    margin-right: 50px;
}

.back-img {
    background: url("./images/7.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 90vh;
}

/* contact section end */

/* recipie start */
.recipi-section .wid {
    text-align: center;
    margin: 0 auto;
}


.card {
    margin: 0px 50px;
    background-color: #fff;
    transition: 0.3s;
    max-height: 580px;
    padding-left: 2%;
    border-radius: 20px;
}

.card:hover {
    box-shadow: 0px 0px 20px gray;
}

.card img {
    max-height: 350px;
    max-width: 600px;
    border-radius: 20px;
    margin-top: 4%;
}

.detail h1 {
    padding: 10px 0px;
}

/* counter section start */

.Counter-section {
    box-shadow: 0px 0px 20px gray;
    margin: 0 auto;
    max-width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-height: 250px;
    margin-bottom: 50px;
    border-radius: 20px;
}

.counter h1 {
    font-size: 50px;
    text-align: center;
}

/* footer start */

.footer{
    text-align: center;
    height: 250px;
    background-color: rgb(13, 13, 13);
}
.footer h1{
   padding-top: 6%;
}

@media only screen and (max-width:750px){
    .top-section{
        flex-direction: column-reverse;
        justify-content:start;

    }
    .right img {
        width: 400px;
        height: 300px;
    }
    .side{
        padding: 0px 10px;
    }
    .left h1 {
        font-size: 30px;
    }
    .left p{
        font-size: 16px;
    }
    .wid{
        width: 100%;
    }
    .about-right p {
        margin-right: 0px;
    }
    .about-right p {
        font-size: 16px;
    }
    .media{
        flex-direction: column;
        padding: 10px;
    }
    .back-img {
        background: url("./images/7.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        background-position: bottom;
    }
    .about-right .m-bottom{
     margin-bottom: 40px;
    }
    .f-size{
        font-size: 16px;
    }
    .card {
       margin-bottom: 25px;
       height: 500px;
       overflow: auto;
    }
    .Counter-section {
        padding: 10px;
    }
    .Counter-section h1{
        font-size: 30px;
        text-align: center;
    }
    .Counter-section p{
        text-align: center;
    }
    .footer h1{
        padding-top: 10%;
     }
}